header {
  width: 100%;
  height: fit-content;

  padding: 10px;

  border-bottom: 1px solid var(--black3);

  color: var(--white1);
}

.header {
  &__container {
    width: 100%;
    max-width: var(--wrapper);
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__login {
    display: flex;
    align-items: center;
    gap: 10px;

    border: 1px solid var(--black3);
    border-radius: 10px;

    background-color: transparent;

    font-size: 1.5rem;
    color: var(--white1);

    cursor: pointer;

    &:hover {
      background-color: var(--black3);
    }

    svg {
      width: 50px;
      height: 50px;
    }
  }

  &__profile {
    padding: 8px 15px;
    display: flex;
    align-items: center;
    gap: 20px;

    background-color: var(--black2);
    border-radius: 10px;

    overflow: hidden;
    cursor: pointer;

    &:hover {
      background-color: var(--black3);
    }

    &-photo {
      width: 48px;

      border-radius: 10px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }

  &__username {
    font-size: 1.8rem;
  }

  &__logout {
    padding: 20px;

    font-size: 2rem;

    background-color: var(--black2);
    border-radius: 10px;

    cursor: pointer;

    &:hover {
      background-color: var(--black3);
    }
  }

  a {
    color: var(--white1);
    text-decoration: none;
  }
}

@media (max-width: 600px) {
  header {
    padding: 5px 10px;
  }

  .header {
    &__item {
      gap: 5px;
    }

    &__username {
      display: none;
    }

    &__logout {
      padding: 15px;
    }
  }
}
